{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>
<div class="container-lg h-100" style="min-height: 400px;">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font text-uppercase text-black">Shopping Basket</h2>
        </div>
        <hr class="m-0 p-0">
    </div>
    <div class="row flex-column-reverse flex-lg-row my-4">
        {% if bag_items %}
        <hr class="m-0 p-0 d-block d-lg-none">
        <div class="col-12 col-lg-9">
            <div class="row my-md-2 mb-lg-2 mx-md-2 pe-3">
                <div class="col-6 fw-bold d-none d-md-block">Product Info</div>
                <div class="col-4 fw-bold text-center d-none d-md-block">Qty</div>
                <div class="col-1 fw-bold test-end d-none d-md-block">Price</div>
                <div class="col-1 fw-bold d-none d-md-block">Subtotal</div>
            </div>
            <div class="custom-overflow pe-3">
                {% for item in bag_items %}
                <div class="row mx-md-2">
                    <div class="col-12 fw-bold d-block d-md-none">Product Info</div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-2">
                        <a href="{% url 'product_detail' item.product.id %}">
                        {% if item.product.image %}
                        <img class="img-fluid rounded-1 mx-auto mx-md-0 thumbnail d-block" src="{{ item.product.image.url }}"
                            alt="Image of {{ item.product.name }}">
                        {% else %}
                        <img class="img-fluid rounded-1 mx-auto mx-md-0 thumbnail d-block" src="{{ MEDIA_URL }}noimage.png" alt="No image available for {{ item.product.name }}">
                        {% endif %}
                        </a>
                    </div>
                    <div class="col-12 col-sm-8 col-md-4 my-3 my-md-0">
                        <p class="my-0">{{ item.product.title }}</p>
                        <p class="my-0 small text-muted">Author(s): {{ item.product.author }}</p>
                    </div>
                    <div class="row d-none d-sm-flex d-md-none justify-content-between">
                        <div class="col-6">
                            <span class="text-start fw-bold">Qty:</span>
                        </div>
                        <div class="col-3">
                            <span class="text-end fw-bold ms-2">Price:</span>
                        </div>
                        <div class="col-3">
                            <span class="text-end fw-bold ms-2">Subtotal:</span>
                        </div>
                    </div>
                    {% include 'includes/form.html' %}
                    <div class="col-12 col-sm-3 col-md-1 d-flex justify-content-between d-sm-block">
                        <span class="text-start fw-bold d-inline d-sm-none">Price:</span>
                        <span class="my-0 text-end">${{ item.product.price }}</span>
                    </div>
                    <div class="col-12 col-sm-3 col-md-1 d-flex justify-content-between d-sm-block mb-2 mb-md-0">
                        <span class="text-start fw-bold d-inline d-sm-none">Subtotal:</span>
                        <span class="my-0 text-end">${{ item.product.price | calc_subtotal:item.quantity }}</span>
                    </div>
                </div>
                {% if not forloop.last %}
                <hr class="d-block my-2">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-lg-3 d-flex flex-column justify-content-between p-0 px-1">
            <div class="col-12 text-end mt-auto">
                <h6 class="bag-total-info"><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                <h6 class="bag-total-info small">Delivery: ${{ delivery|floatformat:2 }}</h6>
                <h6 class="bag-total-info small">VAT Included: ${{ vat|floatformat:2 }}</h6>
                <h6 class="bag-total-info text-danger small">Discount: -${{ discount|floatformat:2 }}</h6>
                <h4 class="bag-total-info"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                {% if free_delivery_delta > 0 %}
                <p class="text-danger">
                    You could get a free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                </p>
                {% endif %}
            </div>
            <div class="col-12 text-end mb-2 me-2">
                <a href="{% url 'products' %}" class="btn pagination-btn rounded-1 basket-btn my-1"
                    aria-label="Go back to products.">
                    <span class="">
                        <i class="fas fa-chevron-left color-dark"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-black-brown rounded-1 text-uppercase basket-btn my-1"
                    aria-label="Go to checkout.">
                    <span>
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <span class="text-uppercase">Checkout</span>
                </a>
            </div>
            <hr class="d-block d-lg-none my-1">
        </div>
        {% else %}
        <hr class="m-0 p-0 d-block d-lg-none">
        <div class="col-12 mb-4">
            <p class="lead">Your bag is empty</p>
            <a href="{% url 'products' %}" class="btn pagination-btn rounded-1 btn-lg">
                <span>
                    <i class="fa-solid fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>     
        {% endif %}
        <hr class="m-0 p-0 d-none d-lg-block">
    </div>
</div>

{% endblock %}

{% block postload_js %}
{{ block.super }}

    <script src="{% static 'js/bag.js' %}" type="text/javascript"></script>
    <script src="{% static 'products/js/quantity_input_script.js' %}" type="text/javascript"></script>

{% endblock %}