{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>

<div class="container-lg">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font text-uppercase text-black">About Us</h2>
        </div>
        <hr class="mt-4">
    </div>
    <div class="row mb-4">
        <div class="col-md-8 col-12 mt-1 mt-md-3">
            <h4>Our Story</h4>
            <p class="mb-0">
                Welcome to OwlBookstore, your one-stop destination for all things books and comics! Nestled in the heart
                of
                Dublin, we pride ourselves on being avid bibliophiles and passionate enthusiasts of the comic world.
            </p>
            <p>
                At OwlBookstore, we believe that books and comics are not just forms of entertainment but gateways to
                imagination, knowledge, and endless adventures. Whether you're a seasoned reader or just starting your
                literary journey, we have something special for everyone.
            </p>
        </div>
        <div class="col-md-4 d-none d-md-block text-end">
            <img class="w-100 elliptical-image" src="{{ MEDIA_URL }}book-love.webp"
                alt="Image of the heart made out of book pages.">
        </div>
        <div class="col-md-4 d-none d-md-block text-start">
            <img class="w-100 elliptical-image" src="{{ MEDIA_URL }}book-mission.webp"
                alt="Image of the OwlBookstore team.">
        </div>
        <div class="col-md-8 col-12 mt-1 mt-md-3">
            <h4>Our Mission</h4>
            <p>
                Our mission at OwlBookstore is simple: to ignite the love for reading and storytelling in people of all
                ages. We strive to curate a diverse collection of books and comics that cater to different tastes,
                interests, and age groups. From timeless classics to contemporary bestsellers, from superheroes to
                graphic novels, we aim to provide a wide selection that captivates and inspires our customers.
            </p>
        </div>
        <div class="col-md-8 col-12 mt-1 mt-md-3">
            <h4>What Sets Us Apart</h4>
            <p class="mb-0">
                What sets OwlBookstore apart is our unwavering commitment to customer satisfaction and community
                engagement. Our knowledgeable and friendly staff are always on hand to offer personalized
                recommendations, answer your questions, or engage in lively discussions about your favorite reads.
            </p>
            <p>
                Moreover, we believe in giving back to the community that supports us. That's why we regularly host book
                signings, author talks, and other events to celebrate the literary arts and connect readers with their
                favorite authors.
            </p>
        </div>
        <div class="col-md-4 d-none d-md-block text-end">
            <img class="w-100 elliptical-image" src="{{ MEDIA_URL }}book-community.webp"
                alt="Image of the community meeting group.">
        </div>
        <div class="col-md-4 d-none d-md-block text-start">
            <img class="w-100 elliptical-image" src="{{ MEDIA_URL }}book-reading.webp"
                alt="Image of the people reading inside the bookstore.">
        </div>
        <div class="col-md-8 col-12 mt-1 mt-md-3">
            <h4>Our Promise</h4>
            <p>
                When you shop at OwlBookstore, you can trust that you're getting more than just books and comics; you're
                getting an experience. Whether you're browsing our shelves in-store or exploring our online catalog,
                we're dedicated to providing you with exceptional service, quality products, and a warm, welcoming
                atmosphere.
            </p>
            <p>
                Thank you for choosing OwlBookstore as your literary haven. We look forward to helping you discover your
                next great read and being a part of your reading journey. Happy reading!
            </p>
        </div>
        <div class="col-12 text-center my-2">
            <hr>
            <p class="logo-font fs-5 mb-0">
                <a href="{% url 'home' %}" class="me-1 text-uppercase text-decoration-none text-dark"
                    aria-label="Go back to the home page"><i class="fa-solid fa-angles-left"></i> go back Home</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}