{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>

<div class="container-lg">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font text-uppercase text-black">About Us</h2>
        </div>
        <hr class="mt-4">
    </div>
    <div class="row mb-4">
        <div class="col-md-8 col-12 mt-1 mt-md-3">
            <h3>Our Story</h3>
            <p class="mb-0">
                Welcome to Owl<em>Bookstore</em>, your one-stop destination for all things <strong>books and
                    comics</strong>! Nestled in the heart
                of
                Dublin, we pride ourselves on being avid bibliophiles and passionate enthusiasts of the comic world.
            </p>
            <p>
                At Owl<em>Bookstore</em>, we believe that <strong>books and comics</strong> are not just forms of
                entertainment but gateways to
                imagination, knowledge, and endless adventures. Whether you're a seasoned reader or just starting your
                literary journey, we have something special for everyone.
            </p>
        </div>
        <div class="col-md-4 d-none d-md-block text-end">
            <img class="w-100 elliptical-image" loading="lazy" width="640" height="360" src="{{ MEDIA_URL }}book-love.webp"
                alt="Image of the heart made out of book pages.">
        </div>
        <div class="col-md-4 d-none d-md-block text-start">
            <img class="w-100 elliptical-image" loading="lazy" width="640" height="360" src="{{ MEDIA_URL }}book-mission.webp"
                alt="Image of the OwlBookstore team.">
        </div>
        <div class="col-md-8 col-12 mt-1 mt-md-3">
            <h3>Our Mission</h3>
            <p>
                Our mission at Owl<em>Bookstore</em> is simple: to ignite the love for <strong>reading</strong> and
                storytelling in people of all ages. We strive to curate a diverse collection of <strong>books and
                    comics</strong> that cater to different tastes, interests, and age groups. From timeless classics to
                contemporary bestsellers, from superheroes to graphic novels, we aim to provide a wide selection of
                <strong>books and comics for everyone</strong> that captivates and inspires our customers. Dive into the
                world of literature with our vast array of <strong>paperback books</strong>, offering both convenience
                and affordability. With Owl<em>Bookstore</em>, it's not just about <em>buying books or comics</em>; it's
                about embarking on an unforgettable journey. Enjoy the convenience of <strong>free delivery</strong> and
                <strong>free shipping</strong> on all orders above ${{ free_delivery_threshold|floatformat:2 }}, making
                it easier than ever to indulge in your reading passions. So why wait? Explore our collection,
                <strong>buy books</strong>, <strong>buy comics</strong>, and let your imagination soar, all with the
                ease of free delivery right to your doorstep.
            </p>
        </div>
        <div class="col-md-8 col-12 mt-1 mt-md-3">
            <h3>What Sets Us Apart</h3>
            <p class="mb-0">
                What sets Owl<em>Bookstore</em> apart is our unwavering commitment to customer satisfaction and
                community
                engagement. Our knowledgeable and friendly staff are always on hand to offer personalized
                recommendations, answer your questions, or engage in lively discussions about your favorite reads.
            </p>
            <p>
                Moreover, we believe in giving back to the community that supports us. That's why we regularly host book
                signings, author talks, and other events to celebrate the literary arts and connect readers with their
                favorite authors.
            </p>
        </div>
        <div class="col-md-4 d-none d-md-block text-end">
            <img class="w-100 elliptical-image" loading="lazy" width="640" height="360" src="{{ MEDIA_URL }}book-community.webp"
                alt="Image of the book and comic community meeting group.">
        </div>
        <div class="col-md-4 d-none d-md-block text-start">
            <img class="w-100 elliptical-image" loading="lazy" width="640" height="360" src="{{ MEDIA_URL }}book-reading.webp"
                alt="Image of the people reading books and comics inside the OwlBookstore.">
        </div>
        <div class="col-md-8 col-12 mt-1 mt-md-3">
            <h3>Our Promise</h3>
            <p>
                When you shop at Owl<em>Bookstore</em>, you can trust that you're getting more than just <strong>books
                    and comics</strong>; you're
                getting an experience. Whether you're browsing our shelves in-store or exploring our online catalog,
                we're dedicated to providing you with exceptional service, quality products, and a warm, welcoming
                atmosphere.
            </p>
            <p>
                Thank you for choosing Owl<em>Bookstore</em> as your literary haven, where the magic of books and comics
                awaits! We're thrilled to embark on this reading journey with you, guiding you to your next great read
                or thrilling adventure. Whether you're searching for <strong>new books</strong>, <strong>new
                    comics</strong>, or seeking out hidden gems, we're here to help. Explore our vast collection of
                books and comics, from classics to the latest
                releases, all at unbeatable prices. As your trusted <strong>online bookstore</strong>, we make it easy
                to <em>buy books online</em> and <em>buy comics online</em>, ensuring that your reading wishlist is just
                a click away. Keep an eye out for our <em>special offers on books and comics</em>, where you can
                discover discounted treasures waiting to be explored. With every purchase, you're not just buying a book
                or comic; you're investing in countless
                hours of imagination and escape. Happy reading and discovering at Owl<em>Bookstore</em>!
            </p>
        </div>
        <div class="col-12 text-center my-2">
            <hr>
            <p class="logo-font fs-5 mb-0">
                <a href="{% url 'home' %}" class="me-1 text-uppercase text-decoration-none text-dark"
                    aria-label="Go back to the home page to buy books">
                    <i class="fa-solid fa-angles-left"></i> Go Back Home
                </a>
            </p>
        </div>
    </div>
</div>

{% endblock %}