{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>

<div class="container-lg">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font text-uppercase text-black">About Us</h2>
        </div>
        <hr class="mt-4">
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-6">

        </div>
    </div>
</div>

{% endblock %}