{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>

<div class="container-lg">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font text-uppercase text-black">Frequently Asked Questions</h2>
        </div>
        <hr class="mt-4">
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-6">
            <div class="faq-q bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse"
                href="#returnOrder" role="button" aria-expanded="false" aria-controls="returnOrder"
                aria-label="Toggle answer for return my order">
                Can I return my order?
            </div>
            <div class="collapse bg-light" id="returnOrder">
                <div class="card card-body">
                    <p class="m-0">
                        Absolutely! We understand that sometimes items may not meet your expectations. Here's how our
                        return
                        process works:
                        <br>
                        If you find that your purchase isn't quite what you expected, you can initiate a return within
                        30 days from the date of purchase. Just ensure that the item is unused and in its
                        original packaging. To start the return process, please contact our dedicated customer support
                        team
                        at <a class="text-decoration-none" href="{% url 'contact' %}">Customer Support</a>. They'll
                        guide you through the process and provide any necessary
                        assistance.
                    </p>
                </div>
            </div>
            <div class="faq-q bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse"
                href="#timeToReturn" role="button" aria-expanded="false" aria-controls="timeToReturn"
                aria-label="Toggle answer for return time">
                How long do I have to return an item?
            </div>
            <div class="collapse bg-light" id="timeToReturn">
                <div class="card card-body">
                    <p class="m-0">
                        You have 30 days from the date of purchase to initiate a return. Don't hesitate to
                        reach out to our customer support team if you need any help with the return process.
                    </p>
                </div>
            </div>
            <div class="faq-q bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse"
                href="#returnShipmentCost" role="button" aria-expanded="false" aria-controls="returnShipmentCost"
                aria-label="Toggle anser for cost of return shipment">
                Who covers the return shipping costs?
            </div>
            <div class="collapse bg-light" id="returnShipmentCost">
                <div class="card card-body">
                    <p class="m-0">
                        While customers are generally responsible for return shipping costs, exceptions are made if the
                        return is due to an error on our part or if the item is defective. If you have any questions or
                        concerns about return shipping, please don't hesitate to contact our customer support team for
                        clarification at <a class="text-decoration-none" href="{% url 'contact' %}">Customer
                            Support</a>.
                    </p>
                </div>
            </div>
            <div class="faq-q bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse"
                href="#returnProcess" role="button" aria-expanded="false" aria-controls="returnProcess"
                aria-label="Toggle answer for return process">
                What happens after I initiate a return?
            </div>
            <div class="collapse bg-light" id="returnProcess">
                <div class="card card-body">
                    <p class="m-0">
                        Once you've initiated a return, simply send the item back to us following the instructions
                        provided
                        by our customer support team. Once we receive the returned item and inspect it, we'll notify you
                        via
                        email regarding the approval or rejection of your refund. Feel free to reach out to our customer
                        support team if you have any questions about the status of your return or refund.
                    </p>
                </div>
            </div>
            <div class="faq-q bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse"
                href="#exchangeItem" role="button" aria-expanded="false" aria-controls="exchangeItem"
                arial-label="Toggle answer for exchange item.">
                Can I exchange an item?
            </div>
            <div class="collapse bg-light" id="exchangeItem">
                <div class="card card-body">
                    <p class="m-0">
                        Yes, you can exchange an item! If you'd like to exchange an item for a different size, color, or
                        product, just follow our return process and then place a new order for the desired item. If you
                        need any assistance with the exchange process, don't hesitate to contact our customer support
                        team for help at <a class="text-decoration-none" href="{% url 'contact' %}">Customer
                            Support</a>.
                    </p>
                </div>
            </div>
            <div class="faq-q bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse"
                href="#demagedItem" role="button" aria-expanded="false" aria-controls="demagedItem"
                aria-label="Toggle answer for damaged item.">
                What should I do if I receive a damaged or defective item?
            </div>
            <div class="collapse bg-light" id="demagedItem">
                <div class="card card-body">
                    <p class="m-0">
                        If you receive a damaged or defective item, please contact our customer support team
                        immediately. We'll work with you to resolve the issue as quickly as possible, whether that
                        involves providing a replacement, issuing a refund, or offering another solution. Your
                        satisfaction is our top priority, so please don't hesitate to get in touch with us.
                    </p>
                </div>
            </div>
            <div class="faq-q bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse"
                href="#bulkOrders" role="button" aria-expanded="false" aria-controls="bulkOrders"
                aria-label="Toggle answer for bulk orders.">
                Are there any discounts available for bulk purchases of books or comics?
            </div>
            <div class="collapse bg-light" id="bulkOrders">
                <div class="card card-body">
                    <p class="m-0">
                        Yes, we offer discounts for bulk purchases of books and comics. Whether you're a school,
                        library, or retailer looking to buy in large quantities, we can provide competitive pricing and
                        personalized assistance. Contact our customer support team to inquire about bulk purchase
                        discounts and pricing.
                    </p>
                </div>
            </div>
            <div class="faq-q bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse"
                href="#specialRequest" role="button" aria-expanded="false" aria-controls="specialRequest"
                aria-label="Toggle answer for special request items.">
                Can I request a specific book or comic that is not currently available on your website?
            </div>
            <div class="collapse bg-light" id="specialRequest">
                <div class="card card-body">
                    <p class="m-0">
                        Absolutely! If there's a specific book or comic you're looking for that is not currently listed
                        on our website, please let us know. Our customer support team will do their best to source the
                        item for you or provide recommendations for similar titles.
                    </p>
                </div>
            </div>
            <div class="faq-q bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse"
                href="#digitalFormat" role="button" aria-expanded="false" aria-controls="digitalFormat"
                aria-label="Toggle answer for digital format books and comics.">
                Are your books and comics available in digital formats?
            </div>
            <div class="collapse bg-light" id="digitalFormat">
                <div class="card card-body">
                    <p class="m-0">
                        No, at the moment, our books and comics are not available in digital formats. However, we are
                        actively working to expand our offerings and provide digital versions compatible with major
                        e-book readers. Stay tuned for updates on our digital availability, and thank you for your
                        patience as we strive to enhance your reading experience.
                    </p>
                </div>
            </div>
            <p class="px-2 py-2">Cannot find your question? Please contact our <a class="text-decoration-none"
                    href="{% url 'contact' %}">Customer
                    Support Team</a> .
            </p>
        </div>
    </div>
</div>

{% endblock %}