{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>

<div class="container-lg">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font text-uppercase text-black">Frequently Asked Questions</h2>
        </div>
        <hr class="mt-4">
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-6">
            <div class="bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse" href="#returnOrder" role="button" aria-expanded="false"
                aria-controls="returnOrder">
                Can I return my order?
            </div>
            <div class="collapse bg-light" id="returnOrder">
                <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>
            <div class="bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse" href="#returnOrder" role="button" aria-expanded="false"
                aria-controls="returnOrder">
                Can I return my order?
            </div>
            <div class="collapse bg-light" id="returnOrder">
                <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>
            <div class="bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse" href="#returnOrder" role="button" aria-expanded="false"
                aria-controls="returnOrder">
                Can I return my order?
            </div>
            <div class="collapse bg-light" id="returnOrder">
                <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>
            <div class="bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse" href="#returnOrder" role="button" aria-expanded="false"
                aria-controls="returnOrder">
                Can I return my order?
            </div>
            <div class="collapse bg-light" id="returnOrder">
                <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>
            <div class="bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse" href="#returnOrder" role="button" aria-expanded="false"
                aria-controls="returnOrder">
                Can I return my order?
            </div>
            <div class="collapse bg-light" id="returnOrder">
                <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>
            <div class="bg-secondary text-dark bg-opacity-10 p-2 rounded-1 border mt-1" data-bs-toggle="collapse" href="#returnOrder" role="button" aria-expanded="false"
                aria-controls="returnOrder">
                Can I return my order?
            </div>
            <div class="collapse bg-light" id="returnOrder">
                <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}