{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container container-vh-100 d-flex align-items-center">
    <div class="row minimum-height">
        <div class="col-10 offset-2">
            <h1 class="text-uppercase logo-font underline-orange light-font">
                Where knowledge takes flight
            </h1>
            <p class="text-uppercase logo-font light-font py-1">
                Impactful pages, endless possiblities
            </p>
            <div class="my-5">
                <p>
                    <a href="{% url 'products' %}" class="btn btn-lg action-button rounded-1 text-uppercase"><strong>Shop Now</strong></a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}