{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-10 my-auto offset-2">
                <h1 class="text-uppercase logo-font">
                    Where knowledge takes flight.
                </h1>
                <p class="text-uppercase logo-font">
                    Impactful pages, endless possiblities.
                </p>
                <div class="my-5">
                    <p>
                        <!-- Add link to href -->
                        <a href="#" class="btn btn-lg btn-info rounded-1 text-uppercase">Shop Now</a>
                    <p>
                </div>
            </div>

            
        </div>
    </div>
{% endblock %}