{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-cover"></div>

<div class="container-lg h-100">
    <div class="row mb-3">
        <div class="col text-center my-2 pb-2">
            <h2 class="logo-font text-uppercase">
                {% if user.is_authenticated %}
                {% if user.first_name %}
                {% if user.first_name|length > 20 %}
                <span>Welcome, {{ user.first_name|slice:":20" }}...</span>
                {% else %}
                <span>{{ user.first_name }}'s </span>
                {% endif %}
                {% else %}
                <span>My </span>
                {% endif %}
                {% endif %}
                Profile
            </h2>
        </div>
        <hr class="m-0 p-0">
    </div>
    <div class="row mb-3 row-min-height">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 mb-3">
                    <a class="text-muted text-decoration-none" data-bs-toggle="collapse"
                        href="#updateProfileDetailsForm" role="button" aria-expanded="false"
                        aria-controls="updateProfileDetailsForm">
                        Default Delivery Information <i class="fa-solid fa-caret-down mx-1"></i>
                    </a>
                </div>
                <div class="col-12 collapse" id="updateProfileDetailsForm">
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy|safe }}
                        <div class="submit-button text-end mt-1 mb-2">
                            <a href="{% url 'home' %}" class="btn btn-sm pagination-btn rounded-1 text-uppercase me-1">
                                <span class="font-weight-bold"><i class="fa-solid fa-angles-left"></i> Home</span>
                            </a>
                            <button class="btn btn-sm btn-black-brown rounded-1 text-uppercase">Update
                                Information</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 border-top">
                    <a class="text-muted text-decoration-none" href="{% url 'account_change_password' %}"
                        aria-label="Link to change password">
                        <span class="d-block my-3">Change Password</span>
                    </a>
                </div>
                <div class="col-12 border-top border-bottom">
                    <a class="text-muted text-decoration-none" href="{% url 'account_email' %}"
                        aria-label="Link to change password"><span class="d-block my-3">Update Email</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            {% if orders %}
            <p class="text-muted">Order History</p>
            <div class="table-responsive order-history-table">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.number }}">{{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>
                                {{ order.date|date:"SHORT_DATE_FORMAT" }}
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.title|truncatechars:20 }} x {{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                ${{ order.grand_total }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-muted">Order History</p>
            <p>You don't have any past orders to display.</p>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 text-center my-2">
            <hr class="mb-3">
            <p class="logo-font fs-5 mb-0">
                <a href="{% url 'products' %}" class="me-1 text-uppercase text-decoration-none text-dark"
                    aria-label="Go back to the home page"><i class="fa-solid fa-angles-left"></i>Keep Shopping</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
<script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}