{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-cover"></div>
<!-- dont forget to remove min-height 400px -->
<div class="container-lg h-100" style="min-height: 400px;">
    <div class="row mb-3">
        <div class="col text-center my-2 pb-2">
            <h2 class="logo-font text-uppercase">Checkout</h2>
        </div>
        <hr class="m-0 p-0">
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last my-2 my-lg-5">
            <div class="summary-container p-1 p-sm-2 p-lg-4 rounded-1">
                <p class="fw-bold">Order Summary ({{ product_count }} items)</p>
                <div class="row">
                    <div class="col-1 d-none d-sm-inline text-start">
                        <p class="mb-1 mt-0 small text-muted">No</p>
                    </div>
                    <div class="col-7">
                        <p class="mb-1 mt-0 small text-muted">Name</p>
                    </div>
                    <div class="col-2 col-sm-1 text-end">
                        <p class="mb-1 mt-0 small text-muted">Qty</p>
                    </div>
                    <div class="col-3 text-end">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                    </div>
                </div>
                <hr class="my-0">
                <div class="row">
                    <div class="col">
                        {% for item in bag_items %}
                        <div class="row my-1 item-row rounded-1" data-bs-toggle="collapse"
                            href="#collapseItemNo{{ forloop.counter }}" role="button" aria-expanded="false"
                            aria-controls="collapseItemNo{{ forloop.counter }}">
                            <div class="col-1 d-none d-sm-inline">
                                <p class="m-0 text-start">{{ forloop.counter }}</p>
                            </div>
                            <div class="col-7" data-bs-toggle="popover" data-bs-trigger="hover focus"
                                data-bs-content="Click to expand" data-bs-placement="top" tabindex="0" role="button"
                                aria-expanded="false">
                                <p class="my-0 d-none d-sm-inline"><strong>{{ item.product.title }} <i
                                        class="fa-solid fa-angle-down"></i></strong></p>
                                <!-- make sure to update style inside the paragraph and move to CSS -->
                                <p class="my-0 d-inline d-sm-none"><strong class="d-inline-block text-truncate"
                                        style="max-width: 180px;">{{ item.product.title }}
                                        <i class="fa-solid fa-angle-down"></i></strong></p>
                            </div>
                            <div class="col-2 col-sm-1">
                                <p class="m-0 text-end">{{ item.quantity }}</p>
                            </div>
                            <div class="col-3 text-end">
                                <p class="my-0 p-0 me-1 me-sm-0 small text-muted">
                                    ${{ item.product.price | calc_subtotal:item.quantity }}
                                </p>
                            </div>
                        </div>
                        <div class="collapse my-sm-1 rounded-1" id="collapseItemNo{{ forloop.counter }}">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-6 mt-1 mt-sm-0 col-sm-2 mb-2 order-last order-sm-first">
                                        <a href="{% url 'product_detail' item.product.id %}">
                                            {% if item.product.image %}
                                            <img class="w-100 w-ld-75" src="{{ item.product.image.url }}"
                                                alt="{{ product.name }}">
                                            {% else %}
                                            <img class="w-100 w-lg-75" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-12 col-sm-8">
                                        <p class="my-0"><strong>{{ item.product.title }}</strong></p>
                                        <p class="my-0 small text-muted">Author(s): {{ item.product.author }}</p>
                                        <p class="my-0 small text-muted">Price: ${{ item.product.price }}</p>
                                        <p class="my-0 small text-muted"><span>Category: </span>
                                            <span class="ms-2">
                                                <a class="text-decoration-none"
                                                    href="{% url 'products' %}?category={{ product.category.name }}"
                                                    aria-label="{{ product.category.name }}">{{ item.product.category.display_name }}
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                    <!-- remvoe below -->
                                    <div class="col-3 text-right">

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Here we have subtotals for which we need bag_tools  -->
                <hr class="my-0">
                <div class="row text-black text-end">
                    <div class="col-6 col-sm-7 offset-2">
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Delivery:</p>
                    </div>
                    <div class="col-4 col-sm-3">
                        <p class="my-0 me-1 me-sm-0">${{ total | floatformat:2 }}</p>
                        <p class="my-0 me-1 me-sm-0">${{ delivery | floatformat:2 }}</p>
                    </div>
                </div>
                <hr class="my-0">
                <div class="row text-end">
                    <div class="col-6 col-sm-7 offset-2">
                        <p class="my-0 fw-bold">Grand Total:</p>
                    </div>
                    <div class="col-4 col-sm-3">
                        <p class="my-0 fw-bold me-1 me-sm-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small px-2 w-auto fw-bold">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small px-2 w-auto fw-bold">Delivery</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    <div class="form-check form-check-inline float-end me-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this information to my profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            unchecked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small px-2 w-auto fw-bold">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="submit-button text-right mt-5 mb-2">
                    <!-- Below is the link to shopping bag, in case user want to adjust anything in the bag  -->
                    <a href="{% url 'view_bag' %}" class="btn btn-sm pagination-btn rounded-1 text-uppercase">
                        <span class="font-weight-bold"><i class="fa-solid fa-angles-left"></i> Basket</span>
                    </a>
                    <!--  submit button that will submit form with JS script  -->
                    <button id="submit-button" class="btn btn-black-brown rounded-1 text-uppercase">
                        <span class="font-weight-bold">Buy Now</span>
                        <span>
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <!--  Message informing user they will be charged and amount that they will pay  -->
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
        <hr class="my-4 p-0 order-last">
    </div>
</div>
<div id="loading-overlay">
    <div class="loading-spinner text-center">
        <p class="icon display-3 my-5">
            <i class="fa-solid fa-arrows-rotate fa-spin fa-2xl"></i>
        </p>
        <p class="icon mt-2">We are processing your payment. Please do not refresh the page.</p>
    </div> 
</div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}" type="text/javascript"></script>

    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            var popover = new bootstrap.Popover(popoverTriggerEl);

            popoverTriggerEl.addEventListener('shown.bs.popover', function () {
                setTimeout(function () {
                    popover.hide();
                }, 1000); // Adjust the time interval (in milliseconds) as needed
            });

            return popover;
        });
    </script>
{% endblock %}