.profile-style-input {
    border: 1px solid #e5e8ebbb !important;
    border-radius: 0.25rem !important;
    margin: 0.5rem 0 0.5rem 0 !important;
}

.profile-style-input:active,
.profile-style-input:focus {
    border: 1px solid #f09a53 !important;
    box-shadow: 0 1px 3px 0 #e7d69c;
} 

.profile-style-input:hover {
    border: 1px solid #f09a53 !important;
    background-color: #eebd962c;
} 

.profile-style-input--webkit-autofill {
    background-color: #e7d69c !important;
}

.order-hisotry-table {
    max-height: 600px;
}