/*------------------- Fonts --------------*/
body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
    /* color: white; */
}

.logo-font {
    font-family: 'Montserrat Alternates', sans-serif;
}

.light-font {
    color: white;
}

.overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.shortened-text {
    cursor: pointer;
    color: blue;
}

.collapse-link.active,
.extra-info.active {
    text-decoration: underline !important;
    color: #050101 !important;
    font-weight: bold;
}

.row.py-md-3.nav.mobile-nav-tabs {
    min-height: 180px;
}

/* .mobile-nav-tabs {
    border-radius: none;
} */

/*------------- Background ---------------*/
body {
    background: url('/media/bg-library.jpg') no-repeat center center fixed;
    background-size: cover;
    /* height: calc(100vh - 280px); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.minimum-height {
    min-height: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.overlay-cover {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    z-index: -1;
}

.top-space {
    height: 180px;
}

footer {
    min-height: 100px;
}

.container-vh-100 {
    min-height: calc(100vh - 280px);
}

/* Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/*---------------- Buttons ----------------------*/
.action-button {
    background-color: #f09a53;
    color: #050101;
    border: 2px solid #050101;
}

.page-link,
.pagination-btn {
    color: #050101;
    border: 2px solid #050101;
}


.page-link:hover,
.pagination-btn:hover {
    color: #050101;
    background: #ebeaea;
    transform: scale(1.03);
}

.btn-black-brown,
.page-item.active .page-link {
    border: 2px solid #050101;
    background-color: #050101;
    color: white;
}

.btn-black-brown:hover {
    border: 2px solid #050101;
    background-color: white;
    color: #050101;
    transform: scale(1.03);
}

.rounded-right {
    border-radius: 0 0.2rem 0.2rem 0;
}

.rounded-left {
    border-radius: 0.2rem 0 0 0.2rem;
}

.btn-orange {
    background-color: #f09a53;
    border: 2px solid #f09a53;
}

/* -------------- Borders ----------------------- */
.border-orange {
    border: 2px solid #f09a53;
}

.border-org-bottom {
    border-bottom: 3px solid #f09a53;
}

.border-org-top {
    border-top: 3px solid #f09a53;
}

/* ---------------- Navbar -------------------- */

.nav-bg-color {
    background-color: #050101;
}

.search-box-container {
    max-width: 40vW;
}

/* -------- Dropdown Menu ------------ */

.icon {
    transition: transform 0.01s ease;
}

.icon:hover {
    color: white;
}

.icon,
a.icon:focus {
    color: white !important;
    text-decoration: none;
}

nav a.icon {
    color: #000;
    font-weight: 600;
    transition: transform 0.01s ease;
}

nav a.icon:hover {
    transform: scale(1.03);
}

/* ----------Allauth ---------------- */

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content p a {
    text-decoration: none;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;  /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content .form-buttons,
.allauth-form-inner-content input {
    margin: 0.5rem 0 0.5rem 0;
}
.allauth-form-inner-content input {
    border-color: #050101;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* hides and unhides requirements on password change page */
/* .revealed-text {
    display: none;
    cursor: pointer;
}

.hidden-text:hover + .revealed-text {
    display: block;
} */


/* -----MEDIA QUERIES ----------- */
@media (max-width: 991.98px) {
    .search-box-container {
        max-width: 100vW;
    }

    .mobile-nav-button {
        color: white !important;
        border: none;
        background-color: white !important;
    }

    nav a.icon:hover {
        transform: none;
    }
}

@media (max-width: 768px) {
    .row.py-md-3.nav.mobile-nav-tabs {
        min-height: 50px;
    }
}