.product-img {
    width: 100%;
    height: auto;
    aspect-ratio: 300 / 450;
}

.overflow-auto {
    max-height: 400px !important;
}

.review-author {
    background-color: #faf6f1;
}

.review-body {
    background-color: #eeeeee;
}

.quantity-input-container {
    width: 50%;
}

@media (max-width: 576px) {
    .quantity-input-container {
        align-items: center;
        width: 100%;
    }

    .small-btn {
        font-size: 85%;
        padding: 4px;
    }
}