.product-img {
    width: 100%;
    height: auto;
    aspect-ratio: 300 / 450;
}

.overflow-auto {
    max-height: 400px !important;
}

.review-author {
    background-color: #faf6f1;
}

.review-body {
    background-color: #eeeeee;
}