<div class="container-fuild">
    <div class="row mx-2">
        <div class="col-12 col-sm-3 mt-1 my-sm-3 d-flex align-items-center footer-about-us">
            <div class="w-100 text-center text-sm-start small h-100">
                <ul class="list-inline my-0">
                    <li class="list-item text-uppercase icon fs-5 mb-1">
                        <span>Company:</span>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="{% url 'about_us' %}" class="icon" aria-label="Follow this link to find more about us">
                            <span class="footer-link">About Us</span>
                        </a>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="{% url 'contact' %}" aria-label="Follow this link to contact our bookstore team"
                            class="icon">
                            <span class="footer-link">Contact Us</span>
                        </a>
                    </li>
                    <li class="list-item text-uppercase footer-link">
                        <a href="{% url 'faq' %}" aria-label="Frequently asked questions about books and comics" class="icon">
                            <span class="footer-link">FAQ</span>
                        </a>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="{% url 'privacy_policy' %}" aria-label="Read online bookstore privacy policy" class="icon">
                            <span class="footer-link">Privacy policy</span>
                        </a>
                    </li>
                </ul>
                <hr class="border-org-bottom my-1 d-block d-sm-none">
            </div>
        </div>
        <div class="col-12 col-sm-3 mt-1 my-sm-3 d-flex align-items-center footer-about-us">
            <div class="w-100 text-center small h-100">
                <ul class="list-inline my-0">
                    <li class="list-item text-uppercase icon fs-5 mb-1">
                        <span>Partners:</span>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="https://www.sellitback.com/" target="_blank" class="icon"
                            aria-label="Follow this link to sell back your old books and comics.">
                            <span class="footer-link">Sell It Back</span>
                        </a>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="https://dccomicsnews.com/" target="_blank"
                            aria-label="Visit DC Comic News to read about upcoming comic books" class="icon footer-link">
                            <span class="footer-link">DC Comics News</span>
                        </a>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="https://www.marvel.com/articles" target="_blank"
                            aria-label="Visit Marvel News to read about upcoming comic books" class="icon">
                            <span class="footer-link">Marvel News</span>
                        </a>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="https://www.goodreads.com/" target="_blank"
                            aria-label="Visit GoodReads to join a book club and discover your next favorite read" class="icon">
                            <span class="footer-link">GoodReads</span>
                        </a>
                    </li>
                </ul>
                <hr class="border-org-bottom my-1 d-block d-sm-none">
            </div>
        </div>
        <div class="col-12 col-sm-3 mt-1 my-sm-3 d-flex align-items-center footer-about-us">
            <div class="w-100 text-center small h-100">
                <ul class="list-inline my-0">
                    <li class="list-item text-uppercase icon fs-5 mb-1">
                        <span>Connect:</span>
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://www.facebook.com/" target="_blank" class="icon display-6" rel="noopener"
                            aria-label="Visit OwlBookstore Facebook page.">
                            <i class="fa-brands fa-square-facebook footer-link"></i>
                        </a>
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://www.twitter.com/" target="_blank" aria-label="Visit OwlBookstore Twitter account."
                            class="icon display-6" rel="noopener">
                            <i class="fa-brands fa-x-twitter footer-link"></i>
                        </a>
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://www.instagram.com/" target="_blank" aria-label="Visit OwlBookstore Instagram page."
                            class="icon display-6" rel="noopener">
                            <i class="fa-brands fa-instagram footer-link"></i>
                        </a>
                    </li>
                </ul>
                <hr class="border-org-bottom my-1 d-block d-sm-none">
            </div>
        </div>
        <div class="col-12 col-sm-3 my-0 my-sm-3 d-flex align-items-center">
            <div class="text-center text-sm-end w-100 h-100 small">
                <ul class="list-inline">
                    <li class="list-item icon fs-5 text-uppercase mb-1">
                        Work with me:
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://github.com/ObiOne84" target="_blank" class="icon display-6" rel="noopener"
                            aria-label="Visit Developer's GitHub Account, opens in new tab">
                            <i class="fa-brands fa-square-github footer-link"></i>
                        </a>
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://www.linkedin.com/in/szymon-stepien-4b60a547/" target="_blank" rel="noopener"
                            aria-label="Visit Developer's LinkedIn Account, opens in new tab" class="icon display-6">
                            <i class="fa-brands fa-linkedin footer-link"></i>
                        </a>
                    </li>
                </ul>
                <div class="small text-white fst-italic mb-3 mb-sm-0">Copyright &copy; OwlBookstore
                    <span id="copyright"></span>
                    <span class="d-block">Created by: <strong>Szymon Stepien</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>