<div class="container-fuild">
    <div class="row mx-2">
        <div class="col-12 col-sm-3 mt-1 my-sm-3 d-flex align-items-center footer-about-us">
            <div class="w-100 text-center text-sm-start small h-100">
                <ul class="list-inline my-0">
                    <li class="list-item text-uppercase icon fs-5 mb-1">
                        <span>Company:</span>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="{% url 'about_us' %}" class="icon" aria-label="Follow this link to find more about us">
                            About Us
                        </a>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="{% url 'contact' %}" aria-label="Follow this link to contac us"
                            class="icon footer-link">
                            Contact Us
                        </a>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="{% url 'faq' %}" aria-label="Frequently asked questions" class="icon footer-link">
                            FAQ
                        </a>
                    </li>
                    <!-- need url -->
                    <li class="list-item text-uppercase">
                        <a href="{% url 'privacy_policy' %}" aria-label="Read our privacy policy" class="icon footer-link">
                            Privacy policy
                        </a>
                    </li>
                    <!-- need url -->
                    <li class="list-item text-uppercase">
                        <a href="#" target="_blank" aria-label="Read our privacy policy" class="icon footer-link">
                            Terms & Conditions
                        </a>
                    </li>
                </ul>
                <hr class="border-org-bottom my-1 d-block d-sm-none">
            </div>
        </div>
        <div class="col-12 col-sm-3 mt-1 my-sm-3 d-flex align-items-center footer-about-us">
            <div class="w-100 text-center small h-100">
                <ul class="list-inline my-0">
                    <li class="list-item text-uppercase icon fs-5 mb-1">
                        <span>Partners:</span>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="https://www.sellitback.com/" target="_blank" class="icon"
                            aria-label="Link to sell it back page.">
                            Sell It Back
                        </a>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="https://dccomicsnews.com/" target="_blank"
                            aria-label="Visit Developer's LinkedIn Account, opens in new tab" class="icon">
                            DC Comics News
                        </a>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="https://www.marvel.com/articles" target="_blank"
                            aria-label="Visit Developer's LinkedIn Account, opens in new tab" class="icon">
                            Marvel News
                        </a>
                    </li>
                    <li class="list-item text-uppercase">
                        <a href="https://www.goodreads.com/" target="_blank"
                            aria-label="Visit Developer's LinkedIn Account, opens in new tab" class="icon">
                            GoodReads
                        </a>
                    </li>
                </ul>
                <hr class="border-org-bottom my-1 d-block d-sm-none">
            </div>
        </div>
        <div class="col-12 col-sm-3 mt-1 my-sm-3 d-flex align-items-center footer-about-us">
            <div class="w-100 text-center small h-100">
                <ul class="list-inline my-0">
                    <li class="list-item text-uppercase icon fs-5 mb-1">
                        <span>Connect:</span>
                    </li>
                    <!-- need url -->
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="#" target="_blank" class="icon display-6" rel="noopener"
                            aria-label="Visit Developer's GitHub Account, opens in new tab">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                    </li>
                    <!-- need url -->
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="#" target="_blank" aria-label="Visit Developer's LinkedIn Account, opens in new tab"
                            class="icon display-6" rel="noopener">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
                    <!-- need url -->
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="#" target="_blank" aria-label="Visit Developer's LinkedIn Account, opens in new tab"
                            class="icon display-6" rel="noopener">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <hr class="border-org-bottom my-1 d-block d-sm-none">
            </div>
        </div>
        <div class="col-12 col-sm-3 my-0 my-sm-3 d-flex align-items-center">
            <div class="text-center text-sm-end w-100 h-100 small">
                <ul class="list-inline">
                    <li class="list-item icon fs-5 text-uppercase mb-1">
                        Work with me:
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="#" target="_blank" class="icon display-6" rel="noopener"
                            aria-label="Visit Developer's GitHub Account, opens in new tab">
                            <i class="fa-brands fa-square-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item pe-lg-2 py-1">
                        <a href="https://www.linkedin.com/in/szymon-stepien-4b60a547/" target="_blank" rel="noopener"
                            aria-label="Visit Developer's LinkedIn Account, opens in new tab" class="icon display-6">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <div class="small text-white fst-italic mb-3 mb-sm-0">Copyright &copy; OwlBookstore
                    <span id="copyright"></span>
                    <span class="d-block">Created by: <strong>Szymon Stepien</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>