<nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block">
    <div class="container-fluid d-none d-lg-block">
        <button class="navbar-toggler mobile-nav-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="main-nav">
            <ul class="navbar-nav text-lg-end me-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-decoration-none active text-uppercase icon header-link" href="#"
                        id="all-prodcut-links" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="all-prodcut-links">
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-decoration-none active text-uppercase icon header-link" href="#"
                        id="books-category-links" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Books
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="books-category-links">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=adventure" title="Adventure">Adventure</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=business" title="Business">Business</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=children" title="Children">Children</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=crime" title="Crime">Crime</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=drama" title="Drama">Drama</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=fiction" title="Fiction">Fiction</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=non_fiction" title="Non-fiction">Non-Fiction</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=religion" title="Religion">Religion</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=sci_fiction" title="Sci-Fiction">Sci-Fiction</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=science" title="Science">Science</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=travel" title="Travel">Travel</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=adventure,business,children,crime,drama,fiction,non_fiction,religion,sci_fiction,science,travel" title="All Books">All Books</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-decoration-none active text-uppercase icon header-link" href="#"
                        id="comic-books-links" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Comics
                    </a>
                    <ul class="dropdown-menu mb-3" aria-labelledby="comic-books-links">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=marvel_universe" title="Marver Universe">Marvel</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=dc_universe" title="DC Universe">DC</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?category=marvel_universe,dc_universe" title="All Comic Books">All Comics</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex justify-content-center flex-grow-1 search-box-container d-none d-lg-block">
                <form action="{% url 'products' %}" method="GET" class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control rounded-left border-orange search-box" name="q"
                            placeholder="Search our library" aria-label="Search" id="page-search-box">
                        <button class="btn btn-orange rounded-right border-orange" type="submit" id="search-query"
                            aria-label="Search product">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>