<nav class="navbar navbar-expand-lg navbar-light d-block d-lg-none nav-bg-color my-1">
    <div class="container-fluid">
        <button class="navbar-toggler mobile-nav-button my-auto sm-screen-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#mobile-nav" aria-controls="mobile-nav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.user.is_authenticated %}
        <div class="text-center my-auto">
            <a class="text-decoration-none {% if grand_total %}fw-bold full-bag-text animated-text{% else %}icon{% endif %}"
                href="{% url 'view_wishlist' %}" aria-label="Link to your favourite books and comics">
                <i class="fa-solid fa-cart-shopping fa-sm"></i>
                <p class="m-0 p-0">
                    <small
                        class="{% if wishlist_items.count > 0 %}fw-bold full-bag-text animated-text{% else %}text-white{% endif %}">Wishlist</small>
                </p>
            </a>
        </div>
        {% endif %}
        <div class="text-center my-auto dropdown">
            <a class="dropdown-toggle text-decoration-none icon header-link p-0 m-0" href="#" id="mobile-account-menu"
                data-bs-toggle="dropdown" aria-expanded="false">
                <small>
                    <i class="fa-solid fa-user d-block pt-2"></i>
                    <span class="m-0 p-0 d-none d-sm-inline">My </span><span class="m-0 p-0">Account</span>
                </small>
            </a>
            <ul class="dropdown-menu" title="Dropdwon menu for user options">
                {% if request.user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                {% if request.user.is_superuser %}
                <!-- Source: https://mdbootstrap.com/docs/standard/extended/dropdown-multilevel/# -->
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-gear me-1"></i> Product Management <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-submenu">
                        <li>
                            <a class="dropdown-item" href="{% url 'add_book' %}">Add Book</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'add_comic' %}">Add Comic</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% else %}
                <li>
                    <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <!-- Shopping basket total-->
        <div class="text-center text-white my-auto">
            <a class="text-decoration-none {% if grand_total %}fw-bold full-bag-text animated-text{% else %}icon{% endif %}"
                href="{% url 'view_bag' %}" aria-label="Go to shopping basket">
                <i class="fa-solid fa-cart-shopping fa-sm"></i>
                <p class="m-0">
                    <small>
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        $0.00
                        {% endif %}
                    </small>
                </p>
            </a>
        </div>
        <div class="collapse navbar-collapse justify-content-center" id="mobile-nav">
            <ul class="navbar-nav text-lg-end me-2">
                <li class="nav-item dropdown">
                    <a href="{% url 'home' %}" class="nav-link">
                        <h1 class="display-6 logo-font my-0 p-0 icon header-link">
                            <strong>Owl</strong>
                            <span class="text-uppercase">Bookstore</span>
                        </h1>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-decoration-none active text-uppercase icon text-white header-link"
                        href="#" id="mobile-all-product-links" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        All products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mobile-all-product-links">
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By
                                Rating</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By
                                Category</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-decoration-none active text-uppercase icon text-white header-link"
                        href="#" id="mobile-book-categories-links" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Books
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mobile-book-categories-links">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=adventure"
                                title="Adventure">Adventure</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=business"
                                title="Business">Business</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=children"
                                title="Children">Children</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=crime" title="Crime">Crime</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=drama" title="Drama">Drama</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=fiction"
                                title="Fiction">Fiction</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=non_fiction"
                                title="Non-fiction">Non-Fiction</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=religion"
                                title="Religion">Religion</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=sci_fiction"
                                title="Sci-Fiction">Sci-Fiction</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=science"
                                title="Science">Science</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=travel"
                                title="Travel">Travel</a></li>
                        <li><a class="dropdown-item"
                                href="{% url 'products' %}?category=adventure,business,children,crime,drama,fiction,non_fiction,religion,sci_fiction,science,travel">All
                                Books</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-decoration-none active text-uppercase icon header-link"
                        href="#" id="mobile-comics-links" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Comics
                    </a>
                    <ul class="dropdown-menu last-dropdown" aria-labelledby="mobile-comics-links">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=marvel_universe"
                                title="Marver Universe">Marvel</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=dc_universe"
                                title="DC Universe">DC</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=marvel_universe,dc_universe"
                                title="All Comic Books">All Comics</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-grow-1 search-box-container mt-2 mx-1 p-1">
        <form action="{% url 'products' %}" method="GET" class="w-100">
            <div class="input-group">
                <input type="text" class="form-control rounded-left border-orange search-box" name="q"
                    placeholder="Search our library" aria-label="Search" id="mobile-search-box">
                <button class="btn btn-orange rounded-right border-orange" type="submit" id="mobile-search-query"
                    aria-label="Search product">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</nav>