<div id="mc_embed_shell" class="row align-items-center">
    <div id="mc_embed_signup" class="col-12 m-0 w-100 bg-warning">
        <h5 class="text-center logo-font text-uppercase fw-bold text-banner mt-1">Subscribe to our newsletter!</h5>
        <form
            action="https://github.us12.list-manage.com/subscribe/post?u=aae1daea66f034f8654a2f81c&amp;id=4827d59f9a&amp;f_id=00af45e0f0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mx-auto"
            target="_blank">
            <div id="mc_embed_signup_scroll" class="row align-items-center">
                <div class="col-12 col-md-4 text-center text-md-end mb-1 mb-md-0">
                </div>
                <div class="col-12 col-md-4 mb-1 mb-md-0 mx-2 mx-md-0 text-center">
                    <input type="email" name="EMAIL" class="required email p-2 rounded-1 m-0 mx-1" id="mce-EMAIL"
                        required="" value="" placeholder="Email Address">
                </div>
                <div class="col-12 col-md-4 mb-1 mb-md-0 mx-2 mx-md-0">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                        class="btn btn-black-brown rounded-1 m-0 mx-auto mx-md-0" value="Subscribe">
                </div>
                <div id="mce-responses" class="clear foot error-div mx-2 my-0 w-100">
                    <div class="response text-danger mx-auto my-0 w-100" id="mce-error-response" style="display: none;"></div>
                    <div class="response text-success mx-auto my-0 w-100" id="mce-success-response" style="display: none;"></div>
                </div>

                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    /* real people should not fill this in and expect good things - do not remove this or risk form bot
                    signups */
                    <input type="text" name="b_aae1daea66f034f8654a2f81c_4827d59f9a" tabindex="-1" value="">
                </div>
            </div>
        </form>
    </div>
</div>