{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h2 class="text-uppercase">{% trans "Sign Out" %}</h2>
<hr>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-buttons">
    <a href="{% url 'home' %}" class="btn pagination-btn rounded-1 me-1">Cancel</a>
    <button class="btn btn-black-brown rounded-1 text-uppercase" type="submit">{% trans 'Sign Out' %}</button>
  </div>
</form>


{% endblock %}