{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_page_title %}
    <h2 class="text-uppercase">{% trans "Change Password" %}</h2>
{% endblock %}
{% block inner_content %}
    <p>{% trans 'Your password is now changed.' %}</p>
    <a href="{% url 'account_login' %}" class="btn btn-black-brown rounded-1 text-uppercase">
        <span class="">
            <i class="fas fa-chevron-left color-dark"></i>
        </span>
        <span class="text-uppercase">Login</span>
    </a>
{% endblock %}
