{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<h2 class="text-uppercase">{% trans "Change Password" %}</h2>
<hr>

<p class="text-muted"><small>To enhance the security of your account, you can change your password here. Please choose a
        strong password that
        includes a combination of uppercase and lowercase letters, numbers, and special characters. Avoid using easily
        guessable information such as your name, birthdate, or common words.</small>
</p>
<a href="#" class="hidden-text text-decoration-none"><p class="my-0"><small>Password Requirements:</small></p></a>
<ul class="text-muted revealed-text">
    <li>Minimum length: 8 characters</li>
    <li>Must contain at least one uppercase letter</li>
    <li>Must contain at least one lowercase letter</li>
    <li>Must contain at least one digit (0-9)</li>
    <li>Must contain at least one special character (e.g., !, @, #, $, %)</li>
</ul>


<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-black-brown rounded-1" type="submit" name="action">{% trans "Change Password" %}</button>
</form>
{% endblock %}