{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie-=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/d46864ea4e.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Owl Bookstore {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <!-- Header -->
    <header class="container-fluid fixed-top px-0 nav-bg-color border-org-bottom">
        <div class="row d-flex">
            <div class="col-12 col-lg-6 my-auto text-center text-lg-start d-none d-lg-block">
                <a href="{% url 'home' %}" class="nav-link">
                    <h1 class="display-6 logo-font my-0 p-0 icon"><strong><i class="fa-brands fa-earlybirds"></i>
                            Owl</strong><span class="text-uppercase">Bookstore</span></h1>
                </a>
            </div>
            <div class="col-12 col-lg-6 my-3 text-white d-none d-lg-block">
                <ul class="list-inline list-unstyled text-lg-end me-3 my-auto">
                    <li class="list-inline-item drowpdown mx-3">
                        <div class="text-center">
                            <a class="text-decoration-none icon" href="{% url 'home' %}">
                                <i class="fa-solid fa-house"></i>
                                <div>
                                    <p>Home</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="list-inline-item drowpdown mx-3">
                        <div class="text-center">
                            <a class="dropdown-toggle text-decoration-none icon" href="#" id="account-menu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user d-block"></i>
                                <span>My Account</span>
                            </a>
                            <ul class="dropdown-menu bg-orange" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                <!-- Add link to add product -->
                                {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'add_product' %}"><i class="fa-solid fa-gear me-1"></i>
                                        Product Management</a></li>
                                {% endif %}
                                <!-- add link to accounts -->
                                <li><a class="dropdown-item" href="#"><i class="fa-regular fa-id-card me-1"></i> My
                                        Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}"><i
                                            class="fa-solid fa-right-from-bracket fa-flip-horizontal me-1"></i>
                                        Logout</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{% url 'account_login' %}"><i
                                            class="fa-solid fa-right-to-bracket me-1"></i> Login</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_signup' %}"><i
                                            class="fa-solid fa-user-plus me-1"></i> Register</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    <!-- Shopping basket total-->
                    <li class="list-inline-item mx-3">
                        <div class="text-center">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <!-- Add total here -->
                            <p>$0.00</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Navbar -->
        <div class="row">
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </div>
    </header>



    <div class="message-container">
        {% for message in messages %}
        {% include 'includes/toasts/toast_success.html' %}
        {% endfor %}
    </div>




    {% block page_header %}
    {% endblock %}
    <main>
        <!-- Main content -->
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="mt-auto bring-above border-org-top nav-bg-color">
        {% include 'includes/newsletter.html' %}
        <div class="container">
            <div class="justify-content-center">
                <ul class="list-inline text-center">
                    <li class="list-inline-item px-lg-3 py-1">
                        <a href="#" target="_blank" class="icon display-6"
                            aria-label="Visit Developer's GitHub Account, opens in new tab">
                            <i class="fa-brands fa-square-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item px-lg-3 py-1">
                        <a href="https://www.linkedin.com/in/szymon-stepien-4b60a547/" target="_blank"
                            aria-label="Visit Developer's LinkedIn Account, opens in new tab" class="icon display-6">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-white fst-italic">Copyright &copy; OwlBookstore
                    <span id="copyright"></span>
                    <span class="d-block">Created by: <strong>Szymon Stepien</strong></span>
                </div>
            </div>
        </div>
    </footer>

    {% block postload_js %}
    <!-- jquery link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Mailchimp script -->
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>

    <script>
        // Get the toast element
        var toastElement = document.querySelector('.toast');

        // Create a new Bootstrap Toast instance
        var toast = new bootstrap.Toast(toastElement);

        // Show the toast
        toast.show();
    </script>

    <script type="text/javascript">
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>

    {% endblock %}
</body>

</html>