{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    <meta name="title" content="Cheap Books &amp; Comics Online with Free Delivery.">
    <meta name="description"
        content="Buy new books &amp; comics online with Free Delivery at OwlBookstore.com. The ethical online bookshop that donates a book for every book sold.">
    <meta name="keywords"
        content="books, comics, new books, new comics, cheap books, cheap comics, online bookstore, good reads, buy books online, buy comics online, discounted books, discounted comicc, special offer on books, special offer on comics, books and comics, paperback books, buy books, buy comics, free delivery, free shipping">
    <meta name="copyright" content="&copy;2024 OwlBookstore.">
    <meta name="author" content="Szymon Stepien">
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- MailChimp CSS -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Web Icon -->
    <link href="{{ MEDIA_URL }}favicon/owl-favicon.ico" rel="icon" type="image/x-icon">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <!-- Bootstrap Bundle with Popper -->
    <script rel="dns-prefetch" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <!-- jquery link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Fontawesome -->
    <script rel="dns-prefetch" src="https://kit.fontawesome.com/d46864ea4e.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Owl Bookstore {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <!-- Header -->
    <header class="container-fluid fixed-top px-0 nav-bg-color border-org-bottom">
        <div class="row d-flex">
            <div class="col-12 col-lg-6 my-auto text-center text-lg-start d-none d-lg-block">
                <a href="{% url 'home' %}" class="nav-link">
                    <span class="display-6 logo-font my-0 p-0 icon header-link">
                        <i class="fa-brands fa-earlybirds"></i>
                        Owl<strong><span class="text-uppercase">Bookstore</span></strong>
                    </span>
                </a>
            </div>
            <div class="col-12 col-lg-6 my-3 text-white d-none d-lg-block">
                <ul class="list-inline list-unstyled text-lg-end me-3 my-auto">
                    <li class="list-inline-item drowpdown mx-3">
                        {% if request.user.is_authenticated %}
                        <div class="text-center">
                            <a class="text-decoration-none {% if wishlist_items.count > 0 %}fw-bold full-bag-text animated-text{% else %}icon{% endif %} header-link"
                                href="{% url 'view_wishlist' %}" aria-label="Link to your favourite books and comics">
                                <i class="fa-solid fa-heart"></i>
                                <p class="my-0">Wishlist</p>
                            </a>
                        </div>
                        {% else %}
                        <div class="text-center">
                            <a class="text-decoration-none icon header-link" href="{% url 'home' %}">
                                <i class="fa-solid fa-house"></i>
                                <div>
                                    <p class="my-0">Home</p>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    </li>
                    <li class="list-inline-item dropdown mx-3">
                        <div class="text-center">
                            <a class="dropdown-toggle text-decoration-none icon header-link" href="#" id="account-menu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user d-block"></i>
                                <span>My Account</span>
                            </a>
                            <ul class="dropdown-menu bg-orange" title="Dropdown menu for user options">
                                {% if request.user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'profile' %}">
                                        <i class="fa-regular fa-id-card me-1"></i> My Profile
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">
                                        <i class="fa-solid fa-right-from-bracket fa-flip-horizontal me-1"></i>
                                        Logout
                                    </a>
                                </li>
                                {% if request.user.is_superuser %}
                                <!-- Source: https://mdbootstrap.com/docs/standard/extended/dropdown-multilevel/# -->
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-gear me-1"></i> Product Management <i
                                            class="fa-solid fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'add_book' %}">Add Book</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'add_comic' %}">Add Comic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                                {% else %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'account_login' %}">
                                        <i class="fa-solid fa-right-to-bracket me-1"></i> Login
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'account_signup' %}">
                                        <i class="fa-solid fa-user-plus me-1"></i> Register
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    <!-- Shopping basket total-->
                    <li class="list-inline-item mx-3">
                        <a class="text-decoration-none {% if grand_total %}fw-bold full-bag-text animated-text{% else %}icon{% endif %}"
                            href="{% url 'view_bag' %}" aria-label="Go to shopping basket">
                            <div class="text-center">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <p>
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Navbar -->
        <div class="row mb-1">
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </div>
        <div class="row border-org-top">
            {% include 'includes/banner.html' %}
        </div>
    </header>

    <!-- Django messages -->
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>

    {% block page_header %}
    {% endblock %}

    <!-- Main content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="mt-auto bring-above border-org-top nav-bg-color">
        <div class="row border-org-bottom collapse newsletter" id="collapseNewsletter">
            <div class="col-12">
                {% include 'includes/newsletter.html' %}
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </footer>

    {% block postload_js %}
    <!-- AWS Amazon javascript -->
    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <!-- Custome javascript -->
    <script src="{% static 'js/toast.js' %}"></script>
    <script src="{% static 'js/arrow_up.js' %}"></script>
    <script src="{% static 'js/newsletter.js' %}"></script>
    {% endblock %}
</body>

</html>