#card-element,
.stripe-style-input {
    border: 1px solid #e5e8ebbb !important;
    border-radius: 0.25rem !important;
    margin: 0.5rem 0 0.5rem 0 !important;
}

#card-element:focus,
.stripe-style-input:focus {
    border: 1px solid #f09a53 !important;
} 

#card-element:hover,
.stripe-style-input:hover {
    border: 1px solid #f09a53 !important;
    background-color: #eebd962c;
} 

.form-check-input:checked {
    background-color: #f09a53;
    border-color: #080808;
}
.summary-container {
    background-color: #e5e8ebbb;
}

.item-row:hover {
    background-color: white;
}

select,
select option {
    padding: 0 10px !important;
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important; 
}

/* Source: Boutique Ado walkthrough project */
/* ------- Loading Spinner ----------- */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}
/* -------- Stripe ---------- */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

@media (max-width: 576px) {
    .order-conf-img img {
        width: 100% !important;
    }
}
/* -----------------------------Not Used---------------------------------------------------------- */
/* Popover style */
.popover {
    font-size: 0.875rem; /* Assuming $font-size-sm is equivalent to 0.875rem */
    background-color: #f3efef; /* Replace with the actual value of $popover-bg */
    max-width: 276px; /* Replace with the actual value of $popover-max-width */
    border-width: 1px; /* Replace with the actual value of $popover-border-width */
    border-color: rgba(0, 0, 0, 0.2); /* Replace with the actual value of $popover-border-color */
    border-radius: 0.5rem; /* Replace with the actual value of $popover-border-radius */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Replace with the actual value of $popover-box-shadow */
}
.popover .popover-header {
    background-color: #f2f2f2; /* Replace with the actual value of $popover-header-bg */
    color: #000000; /* Replace with the actual value of $popover-header-color */
    padding: 0.5rem 0.5rem; /* Replace with the actual values of $popover-header-padding-y and $popover-header-padding-x */
}

.popover .popover-body {
    color: #333333; /* Replace with the actual value of $popover-body-color */
    padding: 0.5rem; /* Replace with the actual values of $popover-body-padding-y and $popover-body-padding-x */
}

.popover .arrow::before {
    border-width: 0.5rem; /* Replace with the actual values of $popover-arrow-width and $popover-arrow-height */
    border-color: transparent transparent #ffffff transparent; /* Replace with the actual value of $popover-arrow-color */
}