<!-- Delete comic modal -->
<div class="modal" tabindex="-1" id="comicModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete {{ product.title }}. This action is irrevisable.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary rounded-1" data-bs-dismiss="modal">Cancel</button>
          <a role="button" class="btn btn-danger rounded-1" href="{% url 'delete_comic' product.id %}" class="text-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete book modal -->
<div class="modal" tabindex="-1" id="bookModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete {{ product.title }}. This action is irrevisable.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary rounded-1" data-bs-dismiss="modal">Cancel</button>
          <a role="button" class="btn btn-danger rounded-1" href="{% url 'delete_book' product.id %}" class="text-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>