{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>

<div class="container-lg">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font text-uppercase text-black">Add Book</h2>
        </div>
        <hr class="mt-4">
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-6">
            <form action="{% url 'add_book' %}" method="POST" id="add-book-form" enctype="multipart/form-data"
                class="form product-form">
                {% csrf_token %}
                {{ book_form | crispy }}
                <a href="{% url 'products' %}" class="btn btn-outline-danger rounded-1 text-uppercase" aria-label="Cancel and return to products">Cancel</a>
                <button class="btn btn-black-brown rounded-1 text-uppercase" type="submit" title="Add product">Add Product</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
