{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}" type="text/css">
{% endblock %}

{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>

<div class="container-lg">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font text-uppercase text-black">Edit Product</h2>
        </div>
        <hr class="mt-4">
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-6">
            {% if product_type == 'book' %}
            <form action="{% url 'edit_book' product.id %}" method="POST" id="add-book-form" enctype="multipart/form-data" class="form product-form">
            {% else %}
            <form action="{% url 'edit_comic' product.id %}" method="POST" id="add-book-form" enctype="multipart/form-data" class="form product-form">
            {% endif %}
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

                <div class="form-buttons">
                    <a href="{% url 'products' %}" class="btn pagination-btn rounded-1 me-1 text-uppercase">Cancel</a>
                    <button class="btn btn-black-brown rounded-1" type="submit">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postload_js %}
{{ block.super }}

<script src="{% static 'products/js/script-product.js' %}"></script>
<script type="text/javascript">
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>

{% endblock %}