{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>
<div class="container-lg h-100">
    <div class="row">
        <div class="col text-center">
            <h2 id="up" class="logo-font text-uppercase text-black">Products</h2>
            <!-- Source: Boutique Ado walkthrough project -->
            <div class="col my-1">
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span
                            class="p-2 mt-1 badge badge-white rounded-1 border border-dark text-black">{{ c.display_name }}</span>
                    </a>
                {% endfor %}
                {% if current_categories %}
                    {% for category in current_categories %}
                        {% if category.product_type == 'comic' %}
                            {% if forloop.counter == 1 %}
                            <a class="category-badge text-decoration-none"
                                href="{% url 'products' %}?category=marvel_universe,dc_universe" aria-label="All Comic Books">
                                <span class="p-2 mt-1 badge badge-white rounded-1 border border-dark text-black">All Comics</span>
                            </a>
                            {% endif %}
                        {% comment %} Exit the loop after first comic category {% endcomment %}
                        {% elif category.product_type == 'book' %}
                            {% if forloop.counter == 1 %}
                            <a class="category-badge text-decoration-none"
                                href="{% url 'products' %}?category=adventure,business,children,crime,drama,fiction,non_fiction,religion,sci_fiction,science,travel"
                                aria-label="All Books">
                                <span class="p-2 mt-1 badge badge-white rounded-1 border border-dark text-black">All Books</span>
                            </a>
                            {% endif %}
                        {% else %}
                        <span></span>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper">
                <select id="sort-selector" aria-label="Choose sorting method" class="custom-select custom-select-sm rounded-1 border border-{% if current_sorting != 'None_None' %}info{% else %}dark{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                        Price (low to high)
                    </option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                        Price (high to low)
                    </option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                        Rating (low to high)
                    </option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                        Rating (high to low)
                    </option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
                        Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                        Name (Z-A)
                    </option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                        Category (A-Z)
                    </option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                        Category (Z-A)
                    </option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <p class="text-muted mt-3 text-md-left">
                <span class="small"> Showing {{ page_obj|length }} out of {{ total_products }} products </span>
            </p>
        </div>
    </div>
    <hr>

    <div class="row mx-4 mx-md-0 mb-5">
        {% for product in page_obj %}
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 px-3 px-md-1">
            <div class="card h-100 border-0">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="lazyload card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="lazyload card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="Image not available">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <p class="mb-0 text-black">{{ product.title}}</p>
                </div>
                <div class="card-footer border-0 bg-white">
                    <div class="row">
                        <div class="col">
                            <p class="fw-bold fs-5">${{ product.price }}</p>
                            {% if product.category %}
                            <a class="text-decoration-none"
                                href="{% url 'products' %}?category={{ product.category.name }}"
                                aria-label="{{ product.category.name }}">{{ product.category.display_name }}
                            </a>
                            {% else %}
                            <p>Not Available</p>
                            {% endif %}
                            {% if product.rating %}
                            <p><i class="fa-solid fa-star"></i> {{ product.rating }} / 5</p>
                            {% else %}
                            <p>No Ratings</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 p-0 px-md-3 my-0">
                                    <div class="form-group">
                                        <div class="input-group input-group-{{ product.id }}">
                                            <span class="me-1 fw-bold p-1">Qty: </span>
                                            <select
                                                class="form-control qty_input m-0 p-1 text-center id_qty_{{ product.id }} rounded-1"
                                                name="quantity" id="id_qty_{{ product.id }}" aria-label="Select product quantity">
                                                <option value="" selected disabled>Choose</option>
                                                {% for i in quantity_range %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 p-0 px-md-3 my-0">
                                    <input type="submit"
                                        class="btn btn-sm w-100 btn-black-brown rounded-1 text-uppercase"
                                        value="Add to Bag">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Source: Boutique ado walkthrough project -->
        {% if forloop.counter|divisibleby:6 %}
        <div class="col-12 d-none d-lg-block mb-4">
            <hr class="counter-line">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-md-block d-lg-none mb-4">
            <hr class="counter-line">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-sm-block d-md-none mb-4">
            <hr class="counter-line">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-block d-sm-none mb-4">
            <hr class="counter-line">
        </div>
        {% endif %}
        {% endfor %}
        {% with page_obj|length as n %}
        {% if n|divisibleby:6 %}
        <!-- No need for an HR element -->
        {% else %}
        <hr class="my-4 d-none d-sm-block">
        {% endif %}
        {% endwith %}
    </div>

    <!-- source: https://docs.djangoproject.com/en/5.0/topics/pagination/ -->
    <!-- Pagination navigation bar -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center my-4">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&direction={{ direction }}"
                    class="page-link pagination-btn rounded-left" aria-label="Return to previous page">&laquo; PREV </a>
            </li>
            {% endif %}

            {% for i in paginator.page_range %}
            <li class="page-item page-num-link {% if i == page_obj.number %}active{% endif %}">
                <a href="?page={{ i }}&sort={{ sort }}&direction={{ direction }}" class="page-link" aria-label="Current page">{{ i }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&direction={{ direction }}"
                    class="page-link pagination-btn rounded-right" aria-label="Go to the next page"> NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a href="#up" class="btt-link d-flex h-100" aria-label="Go to the top of the page">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
</div>

{% endblock %}

{% block postload_js %}
{{ block.super }}

<script src="{% static 'products/js/sorting.js' %}"></script>

{% endblock %}