{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font text-uppercase text-black">Products</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="text-muted mt-3 text-md-left">
                <span class="small">Total Products | {{ total_products }}</span>  
            </p>
        </div>
    </div>
    <hr>
    
    <div class="row mx-4 mx-md-0 mb-5">
        {% for product in products %}
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 px-3 px-md-1">
            <div class="card h-100 border-0">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}">
                </a>
                {% else %}
                <a href="#">
                    <!-- <img class="card-img-top" src="/media/noimage.png" alt="Image not available"> -->
                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="Image not available">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <p class="mb-0 text-black">{{ product.title}}</p>
                </div>
                <div class="card-footer border-0 bg-white">
                    <div class="row">
                        <div class="col">
                            <p class="fw-bold fs-5">${{ product.price }}</p>
                            {% if product.category %}
                            <p>{{ product.category }}</p>
                            {% else %}
                            <p>Not Available</p>
                            {% endif %}
                            {% if product.ave_rating %}
                            <p><i class="fa-solid fa-star"></i> {{ product.ave_rating }} / 5</p>
                            {% else %}
                            <p>No Ratings</p>
                            {% endif %}
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="col-12 d-flex justify-content-between">
                            <!-- link to edit product -->
                            <a href="#" class="card-link ps-3 text-primary fs-6"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                            <!-- link to delete product -->
                            <a href="#" class="card-link pe-3 text-danger fs-6"><i
                                    class="fa-solid fa-trash-can"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Source: Boutique ado walkthrough project -->
        {% if forloop.counter|divisibleby:6 %}
        <div class="col-12 d-none d-lg-block mb-4">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-md-block d-lg-none mb-4">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-sm-block d-md-none mb-4">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-block d-sm-none mb-4">
            <hr>
        </div>
        {% endif %}
        {% endfor %}
        <hr class="d-none d-sm-block my-4 {% if is_paginated %} d-sm-none {% endif %}">
    </div>

    <!-- source: https://docs.djangoproject.com/en/5.0/topics/pagination/ -->
    <!-- Pagination navigation bar -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center my-4">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link pagination-btn rounded-left">&laquo; PREV </a>
            </li>
            {% endif %}
            <!-- source: https://docs.djangoproject.com/en/4.2/ref/paginator/#methods -->
            {% for i in paginator.page_range %}
            <li class="page-item page-num-link {% if i == page_obj.number %}active{% endif %}">
                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link pagination-btn rounded-right"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}