{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>
<div class="container-lg minimum-height mb-4">
    <div class="row">
        {% if request.user.is_superuser %}
        <div
            class="col-12 col-lg-10 col-xl-8 offset-xl-2 offset-lg-1 mt-3 px-md-5 px-lg-0 text-center text-sm-start mb-0">
            {% if product_type == 'book' %}
            <a class="text-decoration-none ms-2 me-5" href="{% url 'edit_book' product.id %}" aria-label="Edit book"><i
                    class="fa-solid fa-pen-to-square"></i> Edit</a>
            <a class="text-decoration-none text-danger ms-5" role="button" data-bs-toggle="modal"
                data-bs-target="#bookModal" href=""><i class="fa-solid fa-trash-can"></i> Delete</a>
            {% elif product_type == 'comic' %}
            <a class="text-decoration-none ms-2 me-5" href="{% url 'edit_comic' product.id %}" aria-label="Edit comic"><i
                    class="fa-solid fa-pen-to-square"></i> Edit</a>
            <a class="text-decoration-none text-danger ms-5" role="button" data-bs-toggle="modal"
                data-bs-target="#comicModal" href="#"><i class="fa-solid fa-trash-can"></i> Delete</a>
            {% else %}
            <p class="text-muted">Product you are looing for no exists.</p>
            {% endif %}
        </div>
        {% endif %}
        <div class="col-12 col-lg-10 col-xl-8 offset-xl-2 offset-lg-1 mt-3 px-md-5 px-lg-0">
            <hr class="mx-2 p-0">
            {% include 'includes/modal.html' %}
            <div class="row mx-auto mx-md-0 my-3">
                <div class="col-lg-4 col-sm-5">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank" aria-label="Open image for {{ product.title }} in seprate window">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="" aria-label="Image placeholder for products without image">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
                <div class="col-lg-8 col-sm-7 mt-3">
                    <p class="fs-4 fw-bold logo-font">{{ product.title }}</p>
                    <p class="overflow-hidden dynamic-text"><strong>Author(s):</strong><span
                            class="small ps-1 btt-link">{{ product.author }}</span></p>
                    <p class="fw-bold fs-5">${{ product.price }}</p>
                    {% if product_type == 'book' %}
                    <a href="{% url 'products' %}?category=books" class="text-decoration-none" aria-label="Go to the products in book category">
                        <p><span><i class="fa-solid fa-tag"></i> </span>Books</p>
                    </a>
                    {% elif product_type == 'comic' %}
                    <a href="{% url 'products' %}?category=comics" class="text-decoration-none" aria-label="Go to the products in comic category">
                        <p><span><i class="fa-solid fa-tag"></i> </span>Comics</p>
                    </a>
                    {% endif %}
                    {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    <small class="text-muted"> ({{ product.ratings_count }} Ratings)</small>
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}

                    {% if user.is_authenticated %}
                        {% if product_in_orders %}
                    <button type="button" class="btn btn-sm ms-2 p-0 p-sm-1 pagination-btn review-btn text-uppercase"
                        id="review-button"><small>Review</small></button>
                        {% endif %}
                    {% endif %}
                    <!-- Boutique ado walkthrough project -->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-10 col-sm-12 col-md-8 mt-1 mx-0">
                                <p class="mt-2"><strong>Quantity:</strong></p>
                                <div class="form-group">
                                    <div class="input-group mb-3 w-50 input-group-{{ product.id }}">
                                        <button class="decrement-qty btn btn-black-brown rounded-left p-1 m-0 decrement-qty_{{ product.id }}"
                                            type="button" data-item_id="{{ product.id }}"
                                            id="decrement-qty_{{ product.id }}" title="Decrement quantity">
                                            <span class="px-2">
                                                <i class="fa-solid fa-minus"></i>
                                            </span>
                                        </button>
                                        <input class="form-control qty_input m-0 p-1 text-center id_qty_{{ product.id }}" type="number" name="quantity"
                                            value="1" min="1" max="10" data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}" aria-label="Qunatity input - choose input in range 1 to 10">
                                        <button class="increment-qty btn btn-black-brown rounded-right p-1 m-0 increment-qty_{{ product.id }}"
                                            type="button" data-item_id="{{ product.id }}"
                                            id="increment-qty_{{ product.id }}" title="Increment quantity">
                                            <span class="px-2">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1 mx-0">
                                <a href="{% url 'products' %}" class="btn pagination-btn rounded-1"
                                    aria-label="Go back to products.">
                                    <span class="">
                                        <i class="fas fa-chevron-left color-dark"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black-brown rounded-1 text-uppercase"
                                    value="Add to Bag" aria-label="Add product to the bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mx-0 mx-sm-1">
                <div class="col">
                    <!-- Main view tabs -->
                    <div class="row mt-3 d-none d-md-block">
                        <div class="col-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link extra-info active text-muted" aria-current="page"
                                        href="#" aria-label="Read product description">Description
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link extra-info text-muted" href="" aria-label="Find more details about the product">
                                        More Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link extra-info text-muted reviews-nav" href="#" aria-label="Read product reviews">
                                        Reviews
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row py-md-3 nav mobile-nav-tabs">
                        <div class="col-12 extra-content active-content">
                            <!-- Mobile view tabs -->
                            <div class="d-block d-md-none mx-0 mx-sm-2">
                                <hr class="d-block d-md-none my-1">
                                <a class="nav-item text-decoration-none text-muted collapse-link active"
                                    data-bs-toggle="collapse" href="#collapse-description" role="button"
                                    aria-expanded="false" aria-controls="collapse-description"
                                    id="mobile-description-link">
                                    <p class="my-0">Description <span><i class="fa-solid fa-caret-down"></i></span></p>
                                </a>
                            </div>
                            <p class="mx-0 mx-sm-2 collapse show d-md-block my-auto" id="collapse-description">
                                <span class="d-flex align-items-center">{{ product.description }}</span>
                            </p>
                        </div>
                        <div class="col-12 table-responsive-sm extra-content d-block d-md-none">
                            <!-- Mobile view tabs -->
                            <div class="d-block d-md-none mx-0 mx-sm-2">
                                <hr class="d-block d-md-none nav my-1">
                                <a class="nav-item text-decoration-none text-muted collapse-link"
                                    data-bs-toggle="collapse" href="#collapse-details" role="button"
                                    aria-expanded="false" aria-controls="collapse-details">
                                    <p class="my-0">More Details <span><i class="fa-solid fa-caret-down"></i></span></p>
                                </a>
                            </div>
                            <table class="table table-borderless mx-0 mx-sm-2 collapse d-md-block w-100 my-1"
                                id="collapse-details">
                                {% if product.publisher is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Publisher:</strong></th>
                                    <td><span class="ms-2">{{ product.publisher }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.published_date is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Published date:</strong></th>
                                    <td><span class="ms-2">{{ product.published_date }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.category is not null %}
                                <!-- Update the style of the <a> link -->
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Category:</strong></th>
                                    <!-- <td><span class="ms-2">{{ product.category.display_name }}</span></td> -->
                                    <td>
                                        <span class="ms-2">
                                            <a class="text-decoration-none"
                                                href="{% url 'products' %}?category={{ product.category.name }}"
                                                aria-label="{{ product.category.name }}">{{ product.category.display_name }}
                                            </a>
                                        </span>
                                    </td>
                                    {% else %}
                                </tr>
                                {% endif %}
                                {% if product.subcategory is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Subcategory:</strong></th>
                                    <td><span class="ms-2">{{ product.subcategory }}</span></td>
                                </tr>
                                {% endif %}
                                <!-- Book specific details here -->
                                {% if product_type == 'book' %}
                                {% if product.genre is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Genre:</strong></th>
                                    <td><span class="ms-2">{{ product.genre }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.num_pages is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Pages:</strong></th>
                                    <td><span class="ms-2">{{ product.num_pages }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.cover is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Cover:</strong></th>
                                    <td><span class="ms-2">{{ product.cover|capfirst }}</span></td>
                                </tr>
                                {% endif %}
                                {% elif product_type == 'comic' %}
                                <!-- Comic-specific details here -->
                                {% if product.cover_artist is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Cover Artist:</strong></th>
                                    <td><span class="ms-2">{{ product.cover_artist }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.illustrator is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Illustrator:</strong></th>
                                    <td><span class="ms-2">{{ product.illustrator }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.series is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Series:</strong></th>
                                    <td><span class="ms-2">{{ product.series }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.age_rating is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Age rating:</strong></th>
                                    <td><span class="ms-2">{{ product.age_rating}}</span></td>
                                </tr>
                                {% endif %}
                                {% endif %}
                                {% if product.isbn_13 is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>ISBN13:</strong></th>
                                    <td><span class="ms-2">{{ product.isbn_13 }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.isbn_10 is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>ISBN10:</strong></th>
                                    <td><span class="ms-2">{{ product.isbn_10 }}</span></td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                        <div class="col-12 extra-content d-block d-md-none">
                            <!-- Mobile view tabs -->
                            <div class="d-block d-md-none mx-0 mx-sm-2">
                                <hr class="d-block d-md-none nav my-1">
                                <a class="nav-item text-decoration-none text-muted collapse-link"
                                    data-bs-toggle="collapse" href="#collapse-reviews" role="button"
                                    aria-expanded="false" aria-controls="collapse-reviews">
                                    <p class="my-0">Reviews <span><i class="fa-solid fa-caret-down"></i></span></p>
                                </a>
                            </div>
                            <div class="mx-0 mx-sm-2 collapse d-md-block" id="collapse-reviews">
                                <div id="review-list" class="d-block">
                                    {% if reviews %}
                                    <div class="card-body overflow-auto p-0 m-0">
                                        {% for review in reviews %}
                                        <div class="p-0">
                                            <p class="m-0 p-0">By: <strong>{{ review.name }}</strong>
                                                <span>, on: {{ review.created_on }}</span>
                                            </p>
                                            <p class="mx-0 my-1 p-0">{{ review.body | safe }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    <p class="my-0">No reviews yet.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr class="d-block d-md-none nav mt-1 mb-4 mx-2">
                        </div>
                        {% if user.is_authenticated %}
                        <div class="col-12 d-none" id="review-form-container">
                            <div class="card-body mb-3`">
                                <p>Leave a review:</p>
                                <form method="POST" id="review-form">
                                    {% csrf_token %}
                                    {{ review_form | crispy | safe }}
                                    <button type="submit" class="btn btn-black-brown m-1 rounded-1 text-uppercase" id="review-button"
                                        aria-label="Submit">Submit</button>
                                    <button type="button" class="btn pagination-btn m-1 rounded-1 text-uppercase" id="cancel-review"
                                        aria-label="Cancel">Cancel</button>
                                </form>
                            </div>
                            <hr class="d-block d-md-none nav mt-1 mb-4 mx-2">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr class="mx-0 mx-md-3 p-0 my-1 d-none d-md-block">
        </div>
    </div>
</div>

{% endblock %}

{% block postload_js %}
{{ block.super }}

    <script src="{% static 'products/js/script-product.js' %}"></script>
    <script src="{% static 'products/js/quantity_input_script.js' %}"></script>
    <script>
        var myModal = new bootstrap.Modal(document.getElementById('myModal'), options)
    </script>

{% endblock %}