{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay-cover"></div>
<div class="container-lg minimum-height">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-3 my-auto">
            <!-- <hr class="m-0 p-0"> -->
            <div class="row mx-1 mx-md-0 my-auto">
                <div class="col-lg-4 col-sm-5">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
                <div class="col-lg-8 col-sm-7 mt-3">
                    <p class="display-6 logo-font"><strong>{{ product.title }}</strong></p>
                    <p><strong>Author(s):</strong><span></span> {{ product.author|truncatechars:25 }}</span></p>
                    <p class="fw-bold fs-5">${{ product.price }}</p>
                    {% if product_type == 'book' %}
                    <a href="#" class="text-decoration-none">
                        <p><span><i class="fa-solid fa-tag"></i> </span>Books</p>
                    </a>
                    {% elif product_type == 'comic' %}
                    <a href="#" class="text-decoration-none">
                        <p><span><i class="fa-solid fa-tag"></i> </span>Comics</p>
                    </a>
                    {% endif %}
                    {% if product.ave_rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.ave_rating }} / 5</small>
                    <small class="text-muted"> ({{ product.ratings_count }} Ratings)</small>
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <button type="button"
                        class="btn btn-sm ms-2 p-1 pagination-btn review-btn"><strong>Review</strong></button>
                    {% endif %}
                </div>
            </div>
            <div class="row mx-1 mx-md-0 my-auto">
                <div class="col">
                    <div class="row mt-3 d-none d-md-block">
                        <div class="col-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active extra-info text-muted" aria-current="page" href="#">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link extra-info text-muted" href="">More Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link extra-info text-muted" href="#">Reviews</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    
                    <div class="row pt-md-3 nav nav-tabs">
                        <div class="col-12 extra-content active-content">
                            <div class="d-block d-md-none mx-2">
                                <hr class="d-block d-md-none">
                                <a class="nav-item text-decoration-none text-muted collapse-link active" data-bs-toggle="collapse" href="#collapse-description" role="button" aria-expanded="false" aria-controls="collapse-description">
                                   <p>Description <span><i class="fa-solid fa-caret-down"></i></span></p>                           
                                </a>
                            </div>
                            <p class="mx-2 collapse:show d-md-block" id="collapse-description">
                                {{ product.description }}
                            </p>
                        </div>
                        <div class="col-12 table-responsive-sm extra-content d-block d-md-none">
                            <div class="d-block d-md-none mx-2 mx-md-0">
                                <hr class="d-block d-md-none nav">
                                <a class="nav-item text-decoration-none text-muted collapse-link" data-bs-toggle="collapse" href="#collapse-details" role="button" aria-expanded="false" aria-controls="collapse-details">
                                   <p>More Details <span><i class="fa-solid fa-caret-down"></i></span></p>                           
                                </a>
                            </div>
                            <table class="table table-borderless mx-2 collapse d-md-block w-100" id="collapse-details">
                                {% if product.publisher is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Publisher:</strong></th>
                                    <td><span class="ms-2">{{ product.publisher }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.published_date is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Published date:</strong></th>
                                    <td><span class="ms-2">{{ product.published_date }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.category is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Category:</strong></th>
                                    <td><span class="ms-2">{{ product.category }}</span></td>
                                </tr>
                                {% endif %}
                                {% if subcategory %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>Subcategory:</strong></th>
                                    <td><span class="ms-2">{{ subcategory.name }}</span></td>
                                </tr>
                                {% endif %}
                                <!-- For book -->
                                {% if product_type == 'book' %}
                                    {% if product.genre is not null %}
                                    <tr>
                                        <th class="text-black text-start my-1"><strong>Genre:</strong></th>
                                        <td><span class="ms-2">{{ product.genre }}</span></td>
                                    </tr>
                                    {% endif %}
                                    {% if product.num_pages is not null %}
                                    <tr>
                                        <th class="text-black text-start my-1"><strong>Pages:</strong></th>
                                        <td><span class="ms-2">{{ product.num_pages }}</span></td>
                                    </tr>
                                    {% endif %}
                                    {% if product.cover is not null %}
                                    <tr>
                                        <th class="text-black text-start my-1"><strong>Cover:</strong></th>
                                        <td><span class="ms-2">{{ product.cover|capfirst }}</span></td>
                                    </tr>
                                    {% endif %}
                                {% elif product_type == 'comic' %}
                                <!-- Add other comic-specific details here -->
                                    {% if product.cover_artist is not null %}
                                    <tr>
                                        <th class="text-black text-start my-1"><strong>Cover Artist:</strong></th>
                                        <td><span class="ms-2">{{ product.cover_artist }}</span></td>
                                    </tr>
                                    {% endif %}
                                    {% if product.illustrator is not null %}
                                    <tr>
                                        <th class="text-black text-start my-1"><strong>Illustrator:</strong></th>
                                        <td><span class="ms-2">{{ product.illustrator }}</span></td>
                                    </tr>
                                    {% endif %}
                                    {% if product.series is not null %}
                                    <tr>
                                        <th class="text-black text-start my-1"><strong>Series:</strong></th>
                                        <td><span class="ms-2">{{ product.series }}</span></td>
                                    </tr>
                                    {% endif %}
                                    {% if product.age_rating is not null %}
                                    <tr>
                                        <th class="text-black text-start my-1"><strong>Age rating:</strong></th>
                                        <td><span class="ms-2">{{ product.age_rating}}</span></td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                                {% if product.isbn_13 is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>ISBN13:</strong></th>
                                    <td><span class="ms-2">{{ product.isbn_13 }}</span></td>
                                </tr>
                                {% endif %}
                                {% if product.isbn_10 is not null %}
                                <tr>
                                    <th class="text-black text-start my-1"><strong>ISBN10:</strong></th>
                                    <td><span class="ms-2">{{ product.isbn_10 }}</span></td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                        <div class="col-12 offset-lg-2 extra-content d-block d-md-none">
                            <div class="d-block d-md-none mx-2 mx-md-0">
                                <hr class="d-block d-md-none nav">
                                <a class="nav-item text-decoration-none text-muted collapse-link" data-bs-toggle="collapse" href="#collapse-reviews" role="button" aria-expanded="false" aria-controls="collapse-reviews">
                                   <p>Reviews <span><i class="fa-solid fa-caret-down"></i></span></p>                           
                                </a>
                            </div>
                            <P class="mx-2 collapse d-md-block" id="collapse-reviews">Reviews Go Here</P>
                            <hr class="d-block d-md-none nav my-4 mx-2">
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
<!-- <script>
    // toggle between product description, reviews, and details
    $('.extra-info').on('click', function () {
        alert('You clicked the toggle');
    });
</script> -->
<script src="{% static 'products/js/script-product.js' %}" type="text/javascript"></script>

{% endblock %}