<div role="alert" aria-live="assertive" aria-atomic="true" class="toast border border-3 border-warning rounded-1" data-bs-autohide="false">
    <div class="arrow-up arrow-warning"></div>

    <div class="toast-header bg-light border-bottom border-warning">
        <strong class="me-auto"><span class="text-warning me-1"><i class="fa-solid fa-triangle-exclamation"></i></span> Attention!</strong>
        <small class="time">Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-light">
        {{ message }}
    </div>
</div>