<div role="alert" aria-live="assertive" aria-atomic="true" class="toast border border-3 border-info rounded-1" data-bs-autohide="false">
    <div class="arrow-up arrow-info"></div>

    <div class="toast-header bg-light border-bottom border-info">
        <strong class="me-auto text-dagner"><span class="text-info me-1"><i class="fa-solid fa-circle-question"></i></span> Info!</strong>
        <small class="time">Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-light">
        {{ message }}
    </div>
</div>