<div role="alert" aria-live="assertive" aria-atomic="true" class="toast border border-3 border-success rounded-1" data-bs-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="toast-header bg-light border-bottom border-success">
        <strong class="me-auto text-dagner"><span class="text-success me-1"><i class="fa-solid fa-circle-check"></i></span> Success!</strong>
        <small class="time">Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-light">
        {{ message }}
    </div>
    {% if grand_total and not on_profile_page %}
    <div class="border-top border-bottom border-success d-flex align-items-center">
        {% if user.is_authenticated %}
            {% if user.first_name %}
                {% if user.first_name|length > 20 %}
                <p class="mx-3 my-auto py-2">{{ user.first_name|slice:":20" }}...
                {% else %}
                <p class="mx-3 my-auto py-2">{{ user.first_name }}'s 
                {% endif %}
            {% endif %}
        {% else %}
            <p class="mx-3 my-auto py-2">Your 
        {% endif %}
            Bag has {{ product_count }} item/s!</p>
        </div>
        <div class="bag-toast-view">
            {% for item in bag_items %}
            <div class="row my-1">
                {% if item.product.image %}  
                <div class="col-3">
                    <img class="ms-3 w-100" src="{{ item.product.image.url }}" alt="Image for {{ item.product.title }}">
                </div>
                {% else %}
                <div class="col-3">
                    <img class="ms-3 w-100" src="{{ MEDIA_URL }}noimage.png" alt="Image not available for {{ item.product.title }}">
                </div>
                {% endif %}
                <div class="col-9">
                    <p class="my-0">{{ item.product.title }}</p>
                    <p class="my-0">Qty: {{ item.quantity }}</p>
                    <p class="my-0">${{ item.product.price }} per unit</p>
                </div>     
                <div class="my-0">
                    <hr class="my-1">
                </div>    
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <p class="my-1 fw-bold">
                    <span class="ms-3">Total: </span><span class="float-end me-3">${{ total|floatformat:2 }}</span>
                </p>
            </div>
            <div class="col-12 my-1">
                <div class="mx-2">
                    <a href="{% url 'checkout' %}" class="w-100 btn btn-black-brown rounded-1 text-uppercase my-1"
                    aria-label="Go to checkout."><i class="fa-solid fa-lock me-1"></i> Checkout</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>